<div class="container">
	<h1><%= @post.name %></h1>
	<p>Created by: <%= link_to @post.user.name, user_path(@post.user.id) %> on <%= @post.date %></p>
	<p>Status: <%= @post.status %></p>
	<% if logged_in? and current_user.id == @post.user_id%>
		<%= link_to "Edit", edit_user_post_path(current_user.id, @post.id), class:"btn btn-default" %>
		<%= link_to "Delete", user_post_path(current_user.id, @post.id), method: :delete, data: { confirm: 'Sure? This action cannot be reverted!' }, class:"btn btn-danger" %>
	<% end %>
	<hr>
	<h3>Description:</h3>
	<p><%= @post.description %></p>
	<br>
	<h3>Location:</h3>
	<p><%= @post.address %>, <%= @post.zipcode %> <%= @post.city %>, <%= @post.state %>, <%= @post.country%>.</p>
</div>